*{
    padding: 0;
    margin: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
   background-color:black;
}
nav{
    width: 100%;
    height: 15vh;
    position: sticky;
}
.homepage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.homepage .logo{
    transition: 0.3s ease-out;
}
.homepage .logo span{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(221, 83, 33);
}
.homepage .logo:hover{
    cursor: default;
    text-shadow: 0 0 3px  rgb(221, 83, 33);
    border-radius: 9px;
    transform: scale(1.1);
}
.bx-menu, .bx-x{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 2px;
    color: white;
    font-size: 3rem;
    display: none;
}
.homepage .link {
    display: flex;
}
.homepage .link a{
    font-size: 1.2rem;
    color: white;
    margin:20px;
    text-decoration: none;
    font-weight:450px;
    transition: 0.3s ease-out;
}
.homepage .link a:hover{
    color: rgb(221, 83, 33);
    border-bottom: solid;
    transform: scale(1.1);
}
.drop{
    position: absolute;
    z-index: 10;
    top: 0px;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(5px) brightness(40%);
    box-shadow: 0 0 23px;
    transition: 0.2s ease-out;
}
.drop:hover{
    transform: translateY(0px);
}
.drop a{
    display: flex;
    color: white;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s ease-out;
}
.drop a:hover{
    background-color:  rgb(221, 83, 33);
}
section{
    width: 100%;
    height: 90vh;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
}
.main .image{
    width: 500px;
    height: 80vh;
}
.main .image img{
    width: 90%;
    border-radius: 50%;
    transition: 0.3s ease-out;
}
.main .image img:hover{
    transform: scale(1.02);
    
}
.main .myself{
    color: white;
    width: 40%;
    min-height: 100px;
}
.myself h1{
   font-size: 1.8rem;
}
.myself h1 span{
    font-weight: 800;
    color:  rgb(221, 83, 33);
    text-shadow: 0 0 3px  rgb(221, 83, 33);
}
.typing{
    font-size: 2.5rem;
    font-weight: 690;
    text-shadow: 0 0 3px rgb(221, 83, 33);
}
.typing span{
    position: relative;
}
.typing span::before{
    content: "Programmer";
    color: rgb(221, 83, 33);
    animation: words 20s infinite;
}
.typing span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 4rem;
    border-left: 3px solid black;
    right: -8px;
    animation: cursor 0.8s infinite, type 20s steps(14) infinite;
    
}
@keyframes cursor{
    to{
        border-left: 3px solid white;
    }
}
@keyframes words{
    0%,20%{
        content: "Programmer";
    }
    21%,40%{
        content: "Student";
    }
    41%,60%{
        content: "Otaku";
    }
    61%, 80%{
        content: "Guitarist";
    }
    81%, 100%{
        content: "Gamer";
    }
}
@keyframes type{
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 8px);
    } 
}
.links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid  rgb(221, 83, 33);
    border-radius: 50%;
    margin: 15px;
    font-size: 1.5rem;
    color:  rgb(221, 83, 33);
    transition: 0.3s ease-out;
}
.links i:hover{
    transform: scale(1.5);
    background-color:  rgb(221, 83, 33);
    color: white;
}
button{
   font-size: 1.5rem;
   color:   rgb(221, 83, 33);
   width: 60%;
   background-color: transparent;
   border: 0.2rem solid  rgb(221, 83, 33);
   border-radius: 20px;
   transition: 0.3s ease-out;
}
button:hover{
    transform: scale(1.1);
    background-color:  rgb(221, 83, 33);
    color: white;
}
.heading{
    text-align: center;
    font-size: 3rem;
    margin: 5rem 0;
}
.service{
   color: black;
}
.service h2{
    color: white;
}
.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
 
}
.service-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(221, 83, 33);
    height: 450px;
    width: 400px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.3s ease-out;
}
.service-box:hover{
     transform: scale(1.08);
     background: black;
     color: rgb(221, 83, 33);
     border: 5px solid  rgb(162, 62, 26);
}
.service-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.service-info h4{
    font-size: 2rem;
    margin: 2rem 0;
    font-weight: 800;
}
.service-info p{
    font-size: 1rem;
    line-height: 1.7;
    font-weight: 600;
}
.service-info i{
   font-size: 4rem;
}
.projects h2{
    color: white;
    margin-top: 10rem;
}
.projects-box{
    display: flex;
    justify-content: center;
    gap: 3rem;
    row-gap: 5rem;
}
.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background:black;
    color: white;
    border: 2px solid rgb(221, 83, 33);
    border-radius: 2.5rem;
    gap: 2rem;
    height: 450px;
    width: 400px;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px  rgb(221, 83, 33);
    transition: 0.3s ease-out;
}
.project-card img{
    max-width: 300px;
    border-radius: 1em;
    object-fit: cover;
}
.project-card:hover{
    box-shadow: 0 0 25px  rgb(221, 83, 33), 0 0 50px  rgb(221, 83, 33);
    transform: scale(1.02);
}
.project-card h3{
    font-size: 1.5rem;
}
.project-card p{
    font-size: 1rem;
}
.project-card .btn{
    font-size: 1.5rem;
    color:   rgb(221, 83, 33);
    width: 60%;
    background-color: transparent;
    border: 0.2rem solid  rgb(221, 83, 33);
    border-radius: 20px;
    transition: 0.3s ease-out;
}
.project-card .btn:hover{
    background-color: rgb(221, 83, 33);
    color: white;
    transform: scale(1.09);
}
.contact{
    background-color: black;
}
.contact h2{
    margin-bottom: 3rem;
    color: rgb(221, 83, 33);
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}
.contact form .input-box input, .contact form textarea{
    width: 100%;
    padding: 20px;
    font-size: 15px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: 2px solid rgb(162, 62, 26);
    margin: 1rem 0;
    resize: none;
}
.input-group2 .btn{
    font-size: 1.5rem;
    color:   rgb(221, 83, 33);
    width: 60%;
    background-color: transparent;
    border: 0.2rem solid  rgb(221, 83, 33);
    border-radius: 20px;
    transition: 0.3s ease-out;
}
.input-group2 .btn:hover{
    background-color: rgb(221, 83, 33);
    color: white;
    transform: scale(1.09);
}
.footer{
    background-color: black;
    padding: 50px 0;
}
.footer .links{
    text-align: center;
}
.footer ul{
    text-align: center;
    font-size: 1rem;
}
.footer ul li{
    display: inline-block;
    margin-left: 20px;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-out;
    text-decoration: none;
}
.footer ul li a:hover{
    border-bottom: 3px solid rgb(221, 83, 33);
    color: rgb(221, 83, 33);
}
.footer .copyright{
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    color: white;
}
@media(max-width:884px){
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
        
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .homepage .link{
        display: none;
    }
    .bx-menu, 
    .bx-x{
        display: block;
    }
    .typing{
        font-size: 2.03rem;
    }
    .main .myself{
        width: 80%;
        margin-top: 40px;
    }
    .links i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
    .main .image{
       z-index: -1;
       width: 50%;
       height: 60%; 
    }
    .service{
        margin-top: 17rem;
    }
    .projects{
        margin-top: 45rem;
    }
    .service-container{
        align-items: center;
        flex-direction: column;
    }
    .contact{
        margin-top: 47rem;
    }
    .contact form{
        flex-direction: column;
    }
    .projects-box{
        align-items: center;
        flex-direction: column;
    }
    .footer{
        margin-top: 35rem;
    }
}
@media (max-width:440px){
    .main .image{
        width: 70%;
        height: 60%;
    }
    .main .myself{
        width: 80%;
    }
    .main button{
        margin-top: 15px;
    }
}
